#header {
    background: url("../images/train.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

h1 {
    text-align: center;
    color: #fff;
    font-family: 'Anton', sans-serif;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    padding-top: 100px;
}
h4 {
    text-align: center;
    color: #fb4904;
    font-family: 'Anton', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    padding-top: 30px;
}
.table .thead-dark th, .btn-dark {
    background: #203d7d;
}
.table .thead-dark th a {
    color: #fff;
    text-decoration-line: none;
}
.table .thead-dark th a:hover {
    color: #fff;
    text-decoration-line: none;
}
.btn {
    margin-bottom: 20px;
}
.bottomBorder {
    border-bottom: #203d7d solid 10px;
    width: 100%;
}
.center {
    text-align: center; 
}

@media only screen and (max-width : 768px) {
    h1 {
        letter-spacing: 0rem;
    }
}

@media only screen and (max-width : 640px) {
    #header {
        background-size: 100%;
    }
    h1 {
        font-size: 3rem;
        letter-spacing: 0rem;
        padding-top: 60px;
    }
    h4 {
        font-size: 1.5rem;
        padding-top: 20px;
    }
    table th, td {
        padding: 8px;
        font-size: .95rem;
    }
}

